@model DBproject.DAL.Models.TeamModel

@{
    ViewData["Title"] = "Создание команды";
}

<h2>Team form</h2>
<form action="/teamedit" method='post'>
    @Html.AntiForgeryToken()
    <p>
        <label>Название</label><br />
        <input name='Name' type="text" value="@Model.Name" />
        <div class="error">@Html.ValidationMessageFor(m=>m.Name)</div>
    </p>
    <p>
        <label>Пароль</label><br />
        <input name='Pass' type="text" value="@Model.Pass" />
        <div class="error">@Html.ValidationMessageFor(m=>m.Pass)</div>
    </p>
    <button>Создать</button>
</form>