@model DBproject.ViewModels.TaskViewModel

@{
    ViewData["Title"] = "Создание задачи";
}

<h2>Task List form</h2>
<form action="/team/@Model.CurrTaskListModel.TeamId/tasklist/@Model.CurrTaskListModel.TaskListId/taskedit" method='post'>
    @Html.AntiForgeryToken()
    <p>
        <label>Название</label><br />
        <input name='CurrTask.Name' type="text" value="@Model.CurrTask?.Name" />
        <div class="error">@Html.ValidationMessageFor(m=>m.CurrTask.Name)</div>
    </p>
    <p>
        <label>Описание</label><br />
        <input name='CurrTask.Description' type="text" value="@Model.CurrTask?.Description" />
        <div class="error">@Html.ValidationMessageFor(m=>m.CurrTask.Description)</div>
    </p>

    <select class="form-select-sm" aria-label="Default select example" name='CurrTask.Priority'>
        <option selected value="NULL">Выберите приоритет</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <p>
        <label>Дедлайн</label><br />
        <input class="formcontrol" name='CurrTask.DeadlineDate' type="date" value="@Model.CurrTask?.DeadlineDate" />
        <div class="error">@Html.ValidationMessageFor(m=>m.CurrTask.DeadlineDate)</div>
    </p>
    <button>Создать</button>
</form>