@model DBproject.ViewModels.TaskListViewModel
@{
    ViewData["Title"] = "Список Задач";
}


<div class="container mt-4">
    <h2>Список задач</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>TaskList ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @if (Model.Tasks != null)
        {
            @foreach (var task in Model.Tasks)
            {
                <tr id="editRow-@task.TaskId" style="display: none;">
                    <form action="/team/@Model.TaskList.TeamId/tasklist/@Model.TaskList.TaskListId/taskedit" method="POST">
                        <input type="hidden" name="CurrTask.TaskId" value="@task.TaskId" class="editTaskIdInput">
                        <td><input type="text" name="CurrTask.Name" class="form-control editTaskName" value="@task.Name"></td>
                        <td><input type="text" name="CurrTask.Description"  class="form-control editTaskDescription" value="@task.Description"></td>
                        <td><input type="text" name="CurrTask.Priority" class="form-control editTaskPriority"></td>
                        <td><span class="taskStatus" name="CurrTask.StatusId">@task.StatusId</span></td>
                        <td><input type="text" name="CurrTask.DeadlineDate" class="form-control editTaskDeadline"></td>
                        <td><span class="taskTaskListId" name="CurrTask.TaskListId">@task.TaskListId</span></td>
                        <td><button class="btn btn-primary btn-sm">Сохранить</button></td>
                    </form>
                </tr>
                <tr id="row-@task.TaskId">
                    <td><span class="taskName">@task.Name</span></td>
                    <td><span class="taskDescription">@task.Description</span></td>
                    <td><span class="taskPriority">@task.Priority</span></td>
                    <td><span class="taskStatus">@task.StatusId</span></td>
                    <td><span class="taskDeadline">@task.DeadlineDate</span></td>
                    <td><span class="taskTaskListId">@task.TaskListId</span></td>

                    <td>
                            <button class="btn btn-primary editBtn" onclick="editRow(@task.TaskId)">Изменить</button>
                            <a class="btn btn-primary" href="/team/@Model.TaskList.TeamId/tasklist/@Model.TaskList.TaskListId/taskdelete/@task.TaskId">Удалить</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

    @if (Model.TaskList != null)
    {
        <a class="btn btn-primary" href="/team/@Model.TaskList.TeamId/tasklist/@Model.TaskList.TaskListId/taskedit">Создать задачу</a>
    }
</div>

<script>
    function editRow(taskid) {
        var row = $('#row-'+taskid);
        var editRow = $('#editRow-' + taskid);

        row.hide();
        editRow.show();
    }
</script>

